[submodule "ROS--rosserial"]
	path = src/ROS--rosserial
	url = https://github.com/autonomousrobotshq/ROS--rosserial.git
[submodule "ROS--keyboard"]
	path = src/ROS--keyboard
	url = https://github.com/autonomousrobotshq/ROS--keyboard.git
[submodule "ROS--common_msgs"]
	path = src/ROS--common_msgs
	url = https://github.com/autonomousrobotshq/ROS--common_msgs.git
[submodule "ROS--geometry2"]
	path = src/ROS--geometry2
	url = https://github.com/autonomousrobotshq/ROS--geometry2.git
