[submodule "ros-keyboard"]
	path = ros-keyboard
	url = git@github.com:autonomousrobotshq/ros-keyboard.git
[submodule "rosserial"]
	path = rosserial
	url = git@github.com:autonomousrobotshq/rosserial.git
